# Byte-compiled
__pycache__/
*.py[cod]
.vscode/
pytestdebug.log
.cache
*.DS_Store

# Docs build
/docs/_build


# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Text files
*.txt

#Swap files
*.sw[g-p]
